body{
    background-color: rgb(224, 199, 165);
}

a{
    font-family: Garamond;
    padding: 8px;
    margin: 4px;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
}
#mainH{
    color: rgb(139, 81, 33);
}